[Unit]
Description=etcd agent restart

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart etcd.service

[Install]
WantedBy=multi-user.target

