[Unit]
Description=Retrieves etcd tls certs from configured cfssl server
PartOf=etcd.service
Before=etcd.service

[Service]
User=etcd
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

Environment=DOMAIN=local
Environment=ETCD_SSL_DIR=/opt/etcd/certs
Environment=CFSSL_ENDPOINT=https://127.0.0.1:8888
Environment=ETCD_TRUSTED_CA_FILE=/opt/etcd/certs/ca.pem
Environment=ETCD_PEER_TRUSTED_CA_FILE=/opt/etcd/certs/ca.pem
Environment=ETCD_PEER_CERT_FILE=/opt/etcd/certs/peer.pem
Environment=ETCD_PEER_KEY_FILE=/opt/etcd/certs/peer-key.pem

EnvironmentFile=-/etc/sysconfig/etcd.conf

ExecStartPre=/usr/bin/mkdir --parents ${ETCD_SSL_DIR}
ExecStartPre=/bin/sh -c 'curl -k --fail --silent -XPOST -d \'{"label": "primary"}\' $CFSSL_ENDPOINT/api/v1/cfssl/info | jq -r \'.result.certificate\' | tee $ETCD_TRUSTED_CA_FILE'
ExecStartPre=/bin/sh -c 'curl -k --fail --silent -XPOST -d \'{"label": "primary"}\' $CFSSL_ENDPOINT/api/v1/cfssl/info | jq -r \'.result.certificate\' | tee $ETCD_PEER_TRUSTED_CA_FILE'

ExecStart=/opt/etcd/bin/etcd-get-cert peer